%p="Hi #{@to.name},"

%p
  ="#{link_to @from.name, @from}".html_safe
  ="just added"
  ="#{link_to @gift.name, @from}".html_safe
  ="to the Christmas list."

%p
  ="Love,"
  ="#{link_to 'huntxmas.com', 'http://huntxmas.com'}".html_safe

