$dark-red: #c44032;
$dark-red-hover: #de4a3a;
$dark-green: #3fa32a;
$dark-green-hover: #48bd31;
$light-green: #cdc;
$light-green-hover: #b1c4b1;

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'museo-sans', lucida grande, sans-serif;
  font-size: 110%;
  background: #eee;
  a {
    text-decoration: none;
    color: #000;
  }
  ul {
    list-style: none;
  }
}

form {
  background: $light-green;
  overflow: hidden;
  padding: 20px 20px 0 20px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  label, input {
    font-size: 120%;
    display: block;
    margin-bottom: 20px;
  }
  label {
    padding-top: 10px;
  }
  input[type='text'], input[type='password'] {
    padding: 5px;
    width: 400px;
  }
  .labels {
    margin-right: 20px;
    float: left;
  }
  .fields {
  }
  .submit {
    padding: 0 50px;
    height: 100px;
    font-weight: bold;
    background: #eee;
    border-radius: 12px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
  }
}

#flash-messages {
  margin-bottom: 15px;
  li {
    background-color: #ddd;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding: 10px 0;
    text-align: center;
    font-weight: bold;
    font-size: 120%;
  }
  .notice {
    color: #fff;
    background: $dark-green;
  }
  .error {
    color: #fff;
    background: $dark-red;
  }
}

#container {
  width: 800px;
  margin: 20px auto;
}

#header {
  overflow: hidden;
  padding: 10px 0;
  margin-bottom: 20px;
  a {
    color: #fff;
    background: $dark-red;
    padding: 10px;
    border-radius: 12px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    &:hover {
      background: $dark-red-hover;
    }
  }
  li {
    float: left;
    vertical-align: middle;
  }
  #navigation {
    display: inline;
    li {
      margin-right: 10px;
    }
  }
  #current-user {
    float: right;
    span {
      margin-right: 10px;
      font-weight: bold;
    }
  }
}

#content {
  li a {
    border-radius: 12px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    display: block;
    padding: 10px 0;
    margin: 10px 0;
    font-weight: bold;
    background: $light-green;
    text-align: center;
    &:hover {
      background: $light-green-hover;
    }
  }
}

#gifts {
  .actions {
    margin: 0px;
    float: left;
    a {
      color: #fff;
      background: $dark-green;
      padding: 10px;
      margin: 0;
      &:hover {
        background: $dark-green-hover;
      }
    }
  }
}
